h1 {
    margin-top: 20px;
    margin-left: 350px;   
    color:#696958;
    font-size: 50px;
    font-family: 'Trebuchet MS';
}

body{
    background-color: #e9e9df;
}

p{
    text-align: center;
    color:#696958;
    font-family: 'Trebuchet MS';
}


.boton {
  background-color: #0cc0df;
  color: rgb(12, 11, 11);
  border: none;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.overlay {
  background-color: #dab3d0(44, 44, 44, 0.4);
  color: rgb(17, 15, 15);
  height: 85%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-left: 700px;
}

.caja1 {
  text-align: center;  
  background-color: #f0f0f0;
  width: 1550px;
  height: 150px;
  border-radius: 8px;
  display:flex;
  align-items: center;

}

img {
    margin: center;
    width: 300px;
    height: 300px;
}

.subtitulo{
    text-align: center;
    color:#black;
    font-family: 'Trebuchet MS';
}

.productos {
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: flex;
}

.producto {
  display: inline;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.product {
      display: flex;
      justify-content: space-around;
      gap: 10px;
      flex-wrap: wrap;
    }

.formulario-email{
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: rgb(7, 1, 1);
  border:#696958;
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: min(600px);
  margin: auto;
}

.campo {
   margin-bottom: 10px;
  }

.campo label{
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 5px;
  display:block;
  }

.instagram {
      padding: 10px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;
      gap: 10px; /* espacio entre imagen y texto */
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      justify-content: center;  
    }


